.outer-scroll-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 94vh;
}

.list-container {
  display: flex;
  /* display: flex;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  flex: 0 0 auto;
}

.list-container form {
  display: inline-block;
}

.all-lists {
  list-style: none;
  display: flex;
}