.outer-scroll-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 94vh;
}

.list-container {
  display: flex;
  /* display: flex;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  flex: 0 0 auto;
}

.form-add-list {
  display: inline-block;
  margin-top: 20px;
}

.list-container input {
  margin-top: 3px;
  margin-bottom: 0px;
}
.all-lists {
  list-style: none;
  display: flex;
}