.card-item {
  width: 100%;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #fff;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  word-wrap: break-word;
  position: relative;
}

.card-item:hover {
  cursor: pointer;
}

.edit-controls {
  position: absolute;
  right: 3px;
  top: 3px;
}

.delete-button {
  background: rgba(200, 200, 200, 0.8);
  border: 1px solid #ccc;
  padding: 3px;
  padding-bottom: 0;
  margin-right: 0;
}

.delete-button:hover {
  color: #A71A00;
}