ul {
  padding-left: 0;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li {
  margin-right: 10px;
}

nav {
  background-color: #E58535;
  padding: 3px 0;
}

nav button {
  padding: 3px 10px;
  background-color: #eee;
  border: 1px solid black;
  cursor: pointer;
}

nav button:hover {
  box-shadow: 1px 1px #555;
}

.button-home {
  margin-right: auto;
  margin-left: 20px;
  padding: 4px 5px;
}